body {
	text-align:center;
	font-family:Helvetica, Verdana, sans-serif;
}

nav {
	color:white;
}

nav a {
	display:block;
	line-height:2;
}

h1, h2, h3 {
	font-weight:bold;
}

h1 {
	font-size:70px;
	font-weight:bold;
}

.flatiron-img {
	background:url(../img/flatiron.png) no-repeat;
	background-size:cover;
}

h2.flatiron-img {
	color:white;
}

footer, footer a {
	text-align:left;
	color:white;
	background-color:dimgrey;
}

footer span {
	font-size:11px;
}